<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper是模板代码关键字，需要特殊处理-->
<mapper namespace="{{ rootInfo.basePath }}.{{ rootInfo.packageName}}.dao.mapper.{{ rootInfo.className }}Mapper" >

</mapper>